name: prql-java-test

on:
  push:
  pull_request:
    types: [ opened, reopened, synchronize, labeled ]

jobs:
  junit-test:
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          default: true
      - name: Maven test
        run: cd ./java/ && ./mvnw test
